<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

<section class="hero is-fullheight is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Mix X Match</h1>
      <a class="button" href="{% url "social:begin" "google-oauth2" %}">
        <span class="icon is-medium">
          <i class="fab fa-google"></i>
        </span>
        <span>Sign In with Google</span>
      </a>
    </div>
  </div>
</section>
